<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
      <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        
                       
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Email</span></a></li>
                        <li> <a class="has-arrow  " href="../PagesAdmin/listeUsers.jsf" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Validate Traders</span></a></li>
           				<li> <a class="has-arrow  " href="../PagesAdmin/ValidateForexOption.jsf" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Validate Forex Options</span></a></li>
           				<li> <a class="has-arrow  " href="../PagesAdmin/TradingForexOption.jsf" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Trading Forex Options</span></a></li>
           				<li> <a class="has-arrow  " href="../PagesAdmin/StockOptionAdmin.jsf" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Stocks Options</span></a></li>
           				<li> <a class="has-arrow  " href="../PagesAdmin/ClaimsAdmin.jsf" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Claims</span></a></li>
           				
                        <li class="nav-label">Layout</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Layout</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="layout-blank.html">Blank</a></li>
                                <li><a href="layout-boxed.html">Boxed</a></li>
                                <li><a href="layout-fix-header.html">Fix Header</a></li>
                                <li><a href="layout-fix-sidebar.html">Fix Sidebar</a></li>
                            </ul>
                        </li>
                        
                       
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
</ui:composition>