<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
	
<style>
.center {
    margin: auto;
    width: 42%;
    border: 3px solid Tomato;
    padding: 10px;
}
</style>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>ADD STOCK OPTION</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
		</f:facet>
	</h:head>
	<ui:include src="/template/header.xhtml" />
	<h:body>

		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li class="active">Contact</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong style="color: DodgerBlue;">Form to add a STOCK
									OPTION</strong>
							</h3>
							
							<br></br>
														<br></br>
							
							<div class="col-md-8 col-md-offset-2">
							<div class="center" >
								<h:form style="border:2px solid Tomato;">


									<h3 style="color: Tomato;">  .Server clock.</h3>
									<p:clock pattern="HH:mm:ss dd.MM.yyyy" mode="server" />

								</h:form>
									</div>

								<br></br> <br></br> <br></br>
							</div>
							<h:form id="form1">
								<div class="row">
									<div class="col-sm-4">

										<h4>
											<h:outputText for="nomentre" value="Strike Price" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="nomentre"
											required="true" requiredMessage="This field is required"
											value="#{stockOptionBean.strikePriceStock}" />
										<h:message style="color:red;" for="nomentre"
											styleClass="alert-danger" />

									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Current Price" />
										</h4>
									</div>
									<div class="col-sm-5">

										<h:inputText class="form-control" id="secteur" required="true"
											requiredMessage="This field is required."
											value="#{stockOptionBean.currentPriceStock}" />
										<h:message for="secteur" styleClass="alert-danger" />
									</div>
								</div>

								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Type of the Option" />
										</h4>
									</div>
									<div class="col-sm-5">

										<h:selectOneMenu class="form-control"
											value="#{stockOptionBean.typeOptionStock}">
											<f:selectItem itemLabel="Pick the TYPE of the option"
												itemValue="" />
											<f:selectItems value="#{data2.typeOptionsOptionStocks}" />
										</h:selectOneMenu>
										<h:message for="adresse" styleClass="alert-danger" />
									</div>
								</div>


								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Expiration Date" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" type="date" id="mail"
											required="true" requiredMessage="This field is required."
											value="#{stockOptionBean.expirationDateStock}">
											<f:convertDateTime pattern="dd-MM-yyyy" />
											<!-- <f:validateRegex pattern=".+\@.+\..+" /> -->
										</h:inputText>
										<h:message for="mail" styleClass="alert-danger" />
									</div>
								</div>

								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Volatility" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="numero" required="true"
											requiredMessage="This field is required."
											value="#{stockOptionBean.volatilityStock}" />
										<h:message for="numero" styleClass="alert-danger" />
									</div>
								</div>


								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Risk" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="poste" max="0.999"
											required="true" requiredMessage="This field is required."
											value="#{stockOptionBean.riskStock}" />
										<h:message for="poste" styleClass="alert-danger" />
									</div>

								</div>

								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Time (in number of years)" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="mission" required="true"
											requiredMessage="This field is required."
											value="#{stockOptionBean.timeStock}" />
										<h:message for="mission" styleClass="alert-danger" />
									</div>

								</div>

								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="State of the Option" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:selectOneMenu class="form-control"
											value="#{stockOptionBean.stateOptionStock}">
											<f:selectItem itemLabel="Pick the STATE of the option"
												itemValue="" />
											<f:selectItems value="#{data2.stateOptionsOptionStocks}" />
										</h:selectOneMenu>
										<h:message for="profil" styleClass="alert-danger" />
									</div>

								</div>
								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Begin date of the Option" />
										</h4>
									</div>
									<div class="col-sm-5">

										<h:inputText class="form-control" id="desc" required="true"
											requiredMessage="This field is required."
											value="#{stockOptionBean.dateOptionBegin}">
											<f:convertDateTime pattern="dd-MM-yyyy" />
										</h:inputText>
										<h:message for="desc" styleClass="alert-danger" />
									</div>

								</div>



								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="End date of the Option" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="desc2" required="true"
											requiredMessage="This field is required."
											value="#{stockOptionBean.dateOptionEnd}">
											<f:convertDateTime pattern="dd-MM-yyyy" />
										</h:inputText>
										<h:message for="desc2" styleClass="alert-danger" />
									</div>

								</div>


								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Number of shares of the Stock Option" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="desc22"
											value="#{stockOptionBean.nbShares}" required="true"
											requiredMessage="This field is required." />
										<h:message for="desc22" styleClass="alert-danger" />
									</div>
								</div>
								<br />




								<div class="text-center">

									<h:commandButton class="btn btn-theme" value="Add Option"
										action="#{stockOptionBean.addStockOption()}" />






								</div>

							</h:form>






						</div>
					</div>

				</div>
			</section>
			<ui:include src="/template/footer.xhtml" />

		</div>
		<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

	</h:body>

</ui:composition>


