<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Moderna - Bootstrap 3 flat corporate template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
		</f:facet>
		  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      strong{
      color: black ;
      }
    </style>
					 
	</h:head>
	<ui:include src="/template/header.xhtml" />

	<body>
		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">IRMC</a><i class="icon-angle-right"></i></li>
								<li class="active">Liste des événements</li>
							</ul>
						</div>
					</div>
				</div>
				<section id="content">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<h4>
									Liste <strong> des événements</strong>
								</h4>
							</div>

							<h:form>
								<ui:repeat var="listE" value="#{eventBean.listEventsval}">
									<div class="col-lg-4">
										<div class="pricing-box-alt">
										
											<div class="pricing-heading">

												<img src="#{listE.image}" width="200px" height="200px"/>

											</div>
											<div class="pricing-terms">
												<h6>#{listE.titreEvent}</h6>
											</div>
											<div class="pricing-content">
												<ul>
													
													<li><h6>Catégorie</h6><i class="icon-ok">#{listE.category.name}</i></li>

													<li><h6>Lieux</h6><i class="icon-ok"> #{listE.lieuxEvent}</i></li>
													<li><h6>Téléphone</h6><i class="icon-ok">#{listE.telEvent}</i></li>
													<li><h6>Date</h6><i class="icon-ok">#{listE.dateEvent}</i></li>
												
												</ul>
											</div>
											<div class="pricing-action">
												<h:commandButton class="btn btn-warning m-b-10 m-l-5" action="#{eventBean.go_to_modifEvent(listE)}"
																	value="Modifier"></h:commandButton>
												
												 <h:commandButton class="btn btn-danger m-b-10 m-l-5"
																	action="#{eventBean.deleteEvent(listE)}"
																	value="supprimer"></h:commandButton>

											</div>
										</div>
									</div>
								</ui:repeat>
							</h:form>

						<div style="width: 100%; color: black;" id="map" > </div>


						</div>
					</div>
				</section>
			</section>
			<ui:include src="/template/footer.xhtml" />
		</div>
		<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

	
	


	</body>
 <script>
      var customLabel = {
        event: {
          label: 'E'
        },
        tender: {
          label: 'T'
        }
      };

        function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(33.886917, 9.537499),
          zoom: 5
        });
        var infoWindow = new google.maps.InfoWindow;

          // Change this depending on the name of your PHP or XML file
          downloadUrl('http://localhost:18080/IRMCPI-web/rest/maps/', function(data) {
            var xml = data.responseXML;
			console.log(xml);
            var markers = xml.documentElement.getElementsByTagName('Marker');
            Array.prototype.forEach.call(markers, function(markerElem) {
              var name = markerElem.getAttribute('name');
              var address = markerElem.getAttribute('address');
              var type = markerElem.getAttribute('type');
              var point = new google.maps.LatLng(
                  parseFloat(markerElem.getAttribute('lat')),
                  parseFloat(markerElem.getAttribute('lng')));

              var infowincontent = document.createElement('div');
              var strong = document.createElement('strong');
              strong.textContent = name
              infowincontent.appendChild(strong);
              infowincontent.appendChild(document.createElement('br'));

              var text = document.createElement('text');
              text.textContent = address
              infowincontent.appendChild(text);
              var icon = customLabel[type] || {};
              var marker = new google.maps.Marker({
                map: map,
                position: point,
                label: icon.label
              });
              marker.addListener('click', function() {
                infoWindow.setContent(infowincontent);
                infoWindow.open(map, marker);
              });
            });
          });
        }



      function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;

        request.onreadystatechange = function() {
          if (request.readyState == 4) {
            request.onreadystatechange = doNothing;
            callback(request, request.status);
          }
        };

        request.open('GET', url, true);
        request.send(null);
      }

      function doNothing() {}
    </script>
    <script async='async' defer="defer"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPp7m3UU4Syv_Y_8Fbg9CMZJYWI5yaNp0&amp;callback=initMap">
    </script>
		
</ui:composition>