<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
                	
                	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			
			
			<script src="../ressources/js/bootstrap.min.js"></script>
			
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
		
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
		</f:facet>
	</h:head>
	<ui:include src="/template/header.xhtml" />
	<h:body>

		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
								<li class="active">Archive of currency options</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong>Archive Currency Option</strong>
							</h3>
                	
                	
              
              
              <p:dataTable var="c" value="#{currencyOptionBean.curropArchive}">
              <p:column headerText="strike price">
        <h:outputText value="#{c.strikePrice}" />
    </p:column>
              
                  <p:column headerText="current price">
        <h:outputText value="#{c.currentPrice}" />
    </p:column>
    <p:column headerText="volatility">
        <h:outputText value="#{c.volatility}" />
    </p:column>
      <p:column headerText="Unit Exchange">
        <h:outputText value="#{c.unitEchange}" />
    </p:column>
        <p:column headerText="time">
        <h:outputText value="#{c.time}" />
    </p:column>
     <p:column headerText="Type Option">
        <h:outputText value="#{c.typeoption}" />
    </p:column>
    <p:column headerText="Premium">
        <h:outputText value="#{c.premium}" />
    </p:column>
        
              </p:dataTable>
              
              
    
                                            
                	
         </div>
         </div>
         </div>
         </section>
         <ui:include src="/template/footer.xhtml" />
         </div>       	
                	
             </h:body>   	

</ui:composition>