<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />
			 <link href="../ressourcesAdmin/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="../ressourcesAdmin/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="../ressourcesAdmin/css/helper.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/style.css" rel="stylesheet"/>
			

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
			
			
			
			<!-- All Jquery -->
    <script src="../ressourcesAdmin/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../ressourcesAdmin/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="../ressourcesAdmin/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../ressourcesAdmin/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="../ressourcesAdmin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../ressourcesAdmin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
     <script src="../ressourcesAdmin/js/lib/morris-chart/raphael-min.js"></script>
    <script src="../ressourcesAdmin/js/lib/morris-chart/morris.js"></script>
    <script src="../ressourcesAdmin/js/lib/morris-chart/dashboard1-init.js"></script>


	<script src="../ressourcesAdmin/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/pignose.init.js"></script>

    <script src="../ressourcesAdmin/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="../ressourcesAdmin/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="../ressourcesAdmin/js/scripts.js"></script>
    <script src="../ressourcesAdmin/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="../ressourcesAdmin/js/lib/chart-js/chartjs-init.js"></script>
      <script src="../ressourcesAdmin/js/lib/chartist/Chartist.min.js"></script>
    <script src="../ressourcesAdmin/js/lib/chartist/chartist-init.js"></script>
      <script src="../ressourcesAdmin/js/lib/peitychart/peitychart.init.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/peitychart/peitychart.init.js"></script>
        <script src="../ressourcesAdmin/js/"></script>
    <!-- scripit init-->

   
    
     <script src="../ressourcesAdmin/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../ressourcesAdmin/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="../ressourcesAdmin/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../ressourcesAdmin/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="../ressourcesAdmin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../ressourcesAdmin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <script src="../ressourcesAdmin/js/lib/peitychart/jquery.peity.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/peitychart/peitychart.init.js"></script>	
			
			
			
		</f:facet>
		<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 50%;
	width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

strong {
	color: black;
}
</style>

	</h:head>
	<ui:include src="/template/header.xhtml" />


<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    
    <!-- Main wrapper  -->
    <div id="main-wrapper">
       
        <!-- Page wrapper  -->
        <div class="page-wrapper">
           
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>999.9</h2>
                                    <p class="m-b-0">MAX Strik Price Option</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-shopping-cart f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>8</h2>
                                    <p class="m-b-0">Sales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-archive f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>0.9</h2>
                                    <p class="m-b-0">High risk Option</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>2</h2>
                                    <p class="m-b-0">Customer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bg-white m-l-0 m-r-0 box-shadow ">

                    <!-- column -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Activity Chart</h4>
                                <div id="extra-area-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->

                    <!-- column -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body browser">
                                <p class="f-w-600">ADD <span class="pull-right">85%</span></p>
                                <div class="progress ">
                                    <div role="progressbar" style="width: 85%; height:8px;" class="progress-bar bg-danger wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">CHECK<span class="pull-right">90%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 90%; height:8px;" class="progress-bar bg-info wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">REAL TIME DATA<span class="pull-right">65%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 65%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">CONTACT<span class="pull-right">65%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 65%; height:8px;" class="progress-bar bg-warning wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

								<p class="m-t-30 f-w-600">UPDATE<span class="pull-right">65%</span></p>
                                <div class="progress m-b-30">
                                    <div role="progressbar" style="width: 65%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->
                    
                </div>
               
              
<div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Pie Chart</h4>
                               
                                <div class="ct-sm-line-chart">
                               <div class="card-title">
                                
                                <div class="card-title-right-icon">
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <span  class="pie" data-peity='{ "fill": ["#13dafe", "#f2f2f2"]}'>#{stockOptionBean.timeValue(34)},10</span>
                                  <br />      
                                  <output >Time Value </output>
                                                                    <br />      
                                  <output >#{stockOptionBean.timeValue(34)}%</output>
                                    </div>
                                    <div class="col-lg-2">
                                       
                                        <span class="pie" data-peity='{ "fill": ["#6164C1", "#f2f2f2"]}'>#{stockOptionBean.intrinsecValue(34)},#{currencyOptionBean.caluculUnitExTotal()}</span>
                                   
                                    <br />      
                                  <output >Intrinsec Value </output>
                                                                    <br />      
                                  <output >#{currencyOptionBean.pourcent1()}%</output>
                                    </div>
                                    <div class="col-lg-2">
                                        <span class="pie" data-peity='{ "fill": ["#F96262", "#f2f2f2"]}'>#{stockOptionBean.futurePrice(34)},5</span>
                                        <br />      
                                  <output >Future Price</output>
                                                                    <br />      
                                  <output >#{stockOptionBean.futurePrice(34)}%</output>
                                        
                                    </div>
                                    <div class="col-lg-2">
                                       
                                        <span class="pie" data-peity='{ "fill": ["#99D683", "#f2f2f2"]}'>#{stockOptionBean.nbSharesValue(34)},60}</span>
                                       <br />      
                                  <output >% of shares Option</output>
                                                                    <br />      
                                  <output >#{stockOptionBean.nbSharesValue(34)}%</output>
                                    </div>
                                    <div class="col-lg-2">
                                        <span class="pie" data-peity='{ "fill": ["#FFCA4A", "#f2f2f2"]}'>#{stockOptionBean.premium(34)},0.5}</span>
                                      <br />      
                                  <output >PREMIUM </output>
                                                                    <br />      
                                  <output >#{stockOptionBean.premium(34)}%</output>
                                    </div>
                                    
                                </div>
                            </div>                                </div>
                               
                            </div>
                        </div>

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
          <ui:include src="/templateAdmin/footer.xhtml" />
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
   

</body>        	

</ui:composition>