<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ct="http://www.chartistjsf.org/charts">
<h:head>
	<f:facet name="first">
		<head>
<meta charset="utf-8" />
<title>Intellixx</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
		</head>

	</f:facet>
	<f:facet name="middle">

		<!-- css -->

		<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../ressources/css/fancybox/jquery.fancybox.css"
			rel="stylesheet" />
		<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
		<link href="../ressources/css/flexslider.css" rel="stylesheet" />
		<link href="../ressources/css/style.css" rel="stylesheet" />

		<!-- Theme skin -->
		<link href="../ressources/skins/default.css" rel="stylesheet" />

	</f:facet>
	<f:facet name="last">


		<script src="../ressources/js/bootstrap.min.js"></script>

		<script src="../ressources/js/google-code-prettify/prettify.js"></script>
		<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
		<script src="../ressources/js/portfolio/setting.js"></script>

		<script src="../ressources/js/animate.js"></script>
		<!-- <script src="../ressources/js/custom.js"></script> -->
	</f:facet>
</h:head>
<h:body>
	<ui:include src="/template/header.xhtml" />

	<div id="wrapper">

		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="#"><i class="fa fa-home"></i></a><i
								class="icon-angle-right"></i></li>
							<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
							<li class="active">Archive of currency options</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- contenu formulaire -->


		<section id="content">

			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h3 class="right-sidebar">
							<strong>Currencies Values</strong>
						</h3>
						<h:form id="form">



							<p:dataGrid var="rate" value="#{interestRealTimeBean.listRates}"
								id="data" columns="3" layout="grid" rows="3" paginator="true"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="4,8,16">

								<f:facet name="header">Taux d'echange</f:facet>

								<p:outputPanel id="carDetail" style="text-align:center;">
									<p:panelGrid columns="2" columnClasses="value,value">
										<f:facet name="header">
											<p:graphicImage value="#{rate.symbole}" />

										</f:facet>

										<h:outputText value="AUD :" />
										<h:outputText value="#{rate.taux.aud}" />

										<h:outputText value="CAD :" />
										<h:outputText value="#{rate.taux.cad}" />

										<h:outputText value="CNY :" />
										<h:outputText value="#{rate.taux.cny}" />

										<h:outputText value="EUR :" />
										<h:outputText value="#{rate.taux.eur}" />

										<h:outputText value="GPB :" />
										<h:outputText value="#{rate.taux.gpb}" />

										<h:outputText value="INR :" />
										<h:outputText value="#{rate.taux.inr}" />

										<h:outputText value="JPY :" />
										<h:outputText value="#{rate.taux.jpy}" />

										<h:outputText value="RUB :" />
										<h:outputText value="#{rate.taux.rub}" />

										<h:outputText value="TND :" />
										<h:outputText value="#{rate.taux.tnd}" />

										<h:outputText value="USD :" />
										<h:outputText value="#{rate.taux.usd}" />

									</p:panelGrid>
								</p:outputPanel>
							</p:dataGrid>
							<div class="col-sm-4">

									<h:commandButton class="btn btn-primary"
										value="Go to Currency Converter" action="/Pages/CurrencyConverter.xhtml" style="text-align:center;"/>




								</div>
						</h:form>

					</div>
				</div>
			</div>
		</section>
		<ui:include src="/template/footer.xhtml" />
	</div>

</h:body>

</html>