<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellix </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>
<ui:define name="content"> </ui:define>
		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
		<!-- 	<script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script> -->
		</f:facet>
	</h:head>
	<ui:include src="/template/header.xhtml" />
	<h:body>

		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
								<li class="active">Add Currency Option </li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong>Currency Option Management </strong>
							</h3>

<p:clock pattern="HH:mm:ss dd.MM.yyyy" mode="server" />	

							<h:form>

								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Current Price " />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="currentPriceee"
											required="true"
											requiredMessage="You must Put Current price"
											value="#{currencyOptionBean.currentPrice}" >
											<f:validateDoubleRange minimum="10" maximum="10000" />
											</h:inputText>
										<p:message for="currentPriceee" styleClass="alert-danger" />
									</div>
								</div>




								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Strike Price" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="StrikePrice" required="true"
											requiredMessage="You must Put Strike price"
											value="#{currencyOptionBean.strikePrice}" >
											<f:validateDoubleRange minimum="10" maximum="10000" />
											</h:inputText>
										<p:message for="StrikePrice" styleClass="alert-danger" />
									</div>
								</div>

								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="premium" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="premium"
											required="true"
											requiredMessage="You must put Premuim "
											value="#{currencyOptionBean.premium}" >
											<f:validateDoubleRange minimum="10" maximum="200" />
											</h:inputText>
										<p:message for="premium" styleClass="alert-danger" />
									</div>
								</div>


								

								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="risk" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="risk" required="true"
											requiredMessage="You must Put Risk"
											value="#{currencyOptionBean.risk}">
											<f:validateDoubleRange minimum="0.01" maximum="2.0"></f:validateDoubleRange>
											</h:inputText>
										<p:message for="risk" styleClass="alert-danger" />
									</div>
								</div>


								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Time" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="time" required="true"
											requiredMessage="You must Put time"
											value="#{currencyOptionBean.time}" >
											<f:validateDoubleRange minimum="1" maximum="20" />
											</h:inputText>
										<p:message for="time" styleClass="alert-danger"  />
									</div>

								</div>

								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Volatility" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="volatility" required="true"
											requiredMessage="."
											value="#{currencyOptionBean.volatility}" >
						<f:validateDoubleRange minimum="0.1" maximum="2.0"></f:validateDoubleRange>
										</h:inputText>
										<p:message for="volatility" styleClass="alert-danger" />
									</div>

								</div>
                                    <div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Spot Rate Exchange" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id = "rate"
											required="true"
											requiredMessage="You must Put a spot rate ."
											value="#{currencyOptionBean.spotExchangeRate}"
											>
											<f:validateDoubleRange minimum="0.01" maximum="3.9"></f:validateDoubleRange>
										</h:inputText>
										

										<p:message for="rate" styleClass="alert-danger" />
									</div>

								</div>
								


								<!-- <div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Expiration Date " />
											
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText  class="form-control" id="dateaa"
											required="true"
											requiredMessage="Le champ Expiration Date est obligatoire."
											value="#{currencyOptionBean.expirationDate}">
											<f:convertDateTime  pattern="dd-MM-yyyy"/>
											</h:inputText>
											
										<h:message for="dateaa" styleClass="alert-danger" />
									</div>

								</div> -->
								<div class="row">

									<div class="col-sm-4">
										<h4>
											<p:outputLabel for="german1" value="Expiration Date" />
										</h4>
									</div>
									<div class="col-sm-5">

										<p:calendar id="german1"
											value="#{currencyOptionBean.expirationDate}" locale="de"
											navigator="true" pattern="d/M/yyyy" required="true" requiredMessage="You must Put Expiration Date" >
											
											</p:calendar>
											<p:message for="german1" styleClass="alert-danger"></p:message>
									</div>

								</div>
								

								
								<div class="row">
									<div class="col-sm-4">
									<h4>
										<h:outputText value="Type Option" />
										</h4>
										</div>
										<div class="col-sm-5">
										<h:selectOneMenu required="true" id="b" requiredMessage="You must Select one Type" class="form-control"  value="#{currencyOptionBean.typeoption}">
									
                                                <f:selectItem itemLabel="selectionner le Type option" itemValue="" />
                                                <f:selectItems value="#{data.typeOptions}" />
										</h:selectOneMenu>
											<p:message for="b" styleClass="alert-danger" />
									</div>
								</div>
							
							<div class="row">
									<div class="col-sm-4">
									<h4>
										<h:outputText value="UnitExchange" />
										</h4>
										</div>
										<div class="col-sm-5">
										<h:selectOneMenu required="true" id="aa" requiredMessage="You must select one Unit Exchange"  class="form-control"  value="#{currencyOptionBean.unitEchange}">
									
                                                <f:selectItem itemLabel="selectionner le unitExchange" itemValue=""/>
                                                <f:selectItems value="#{data.unitExchanges}" />
										</h:selectOneMenu>
										<p:message for="aa" styleClass="alert-danger" />
									</div>
								</div>
							
								<br />




								<div class="text-center">

									<h:commandButton class="btn btn-primary" value="Submit"
										action="#{currencyOptionBean.addCurrncyOp(loginBean.userId)}" onclick="return confirm('Do you want to add this Option?');" />

								</div>

							</h:form>




						</div>
					</div>

				</div>
			</section>
			<ui:include src="/template/footer.xhtml" />

		</div>

	</h:body>

</ui:composition>


