<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Option Price Calculator</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<!--<script src="../ressources/js/jquery.js"></script>
			 <script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script> -->
		</f:facet>
	</h:head>
	<ui:include src="/template/header.xhtml" />
	<h:body>

		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li class="active">Contact</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong>Currency Converter</strong>
							</h3>
							<h:form>
								<div>
									<h:inputText class="form-control" id="secteur" required="true"
										requiredMessage="Current Price value is required."
										value="#{currencyConverterBean.montantfrom}" />
								</div>
								<br/>
								<br/>
								<br/>
								<div>
									<p:outputLabel value="From:" />

									<p:selectOneMenu effect="fade"
										style="width:160px;margin-bottom:10%" filter="true"
										value="#{currencyConverterBean.fromcurrency}"
										placeholder="name" filterMatchMode="startsWith">
										<f:selectItems value="#{unityService.unities}" />
									</p:selectOneMenu>
									


									<p:outputLabel value="                 To:" />

									<p:selectOneMenu effect="fade"
										style="width:160px;margin-bottom:10%" filter="true"
										value="#{currencyConverterBean.tocurrency}" placeholder="name"
										filterMatchMode="startsWith">
										<f:selectItems value="#{unityService.unities}" />
									</p:selectOneMenu>
								</div>
								<div>
									<h:inputText class="form-control" id="secteur2" required="true"
										requiredMessage="Current Price value is required."
										value="#{currencyConverterBean.montantto}" />
								</div>
								<div class="col-sm-4">

									<h:commandButton class="btn btn-primary"
										value="Calculate Currency Value"
										action="#{currencyConverterBean.convertcurrency(currencyConverterBean.fromcurrency,currencyConverterBean.tocurrency,currencyConverterBean.montantfrom)}" />

								</div>


							</h:form>

						</div>
					</div>
					<!--  -->

				</div>
			</section>
			<ui:include src="/template/footer.xhtml" />

		</div>
	</h:body>

</ui:composition>