<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx-Greeks_Values</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
		</f:facet>
		<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 50%;
	width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

strong {
	color: black;
}
</style>

	</h:head>
	<ui:include src="/template/header.xhtml" />

	<body>
		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
								<li class="active">Archive of currency options</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong>Greeks Values</strong>
							</h3>


							<div class="col-xs-12 col-sm-12 col-md-6">
								<!-- col output container -->
								<table class="table table-bordered table-striped table-hover">
									<tr>
										<th>    </th>
										<th>Call Option</th>
										<th>Put Option</th>
									</tr>
									<tr>
										<td>Delta</td>
										<td> #{optionPriceBean.deltacall} </td>
										<td>#{optionPriceBean.deltaput}</td>
									</tr>
									<tr>
										<td>Gamma</td>
										<td>#{optionPriceBean.gammacall}</td>
										<td>#{optionPriceBean.gammaput}</td>
									</tr>
									<tr>
										<td>Vega</td>
										<td>#{optionPriceBean.vegacall}</td>
										<td>#{optionPriceBean.vegaput}</td>
									</tr>
									<tr>
										<td>Rho</td>
										<td>#{optionPriceBean.rhocall}</td>
										<td>#{optionPriceBean.rhoput}</td>
									</tr>
								</table>
							</div>
							


						</div>
					</div>
				</div>
			</section>
			<ui:include src="/template/footer.xhtml" />
		</div>
		<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>





	</body>

</ui:composition>