<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Stocks</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
		</f:facet>
		<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 50%;
	width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

strong {
	color: black;
}
</style>

	</h:head>
	<ui:include src="/template/header.xhtml" />

	<body>
		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">INTELIXX</a><i class="icon-angle-right"></i></li>
								<li class="active">DATA</li>
								<li class="active">HISTORICAL DATA</li>

							</ul>
						</div>
					</div>
				</div>
				<section id="content">
					<div class="container">
						<div class="row">



							<div class="col-lg-12">
								<h4 class="right-sidebar" style="color: DodgerBlue;">
									<strong style="color: DodgerBlue;"> HISTORICAL DATA </strong>
								</h4>


							</div>
							<div class="col-lg-12">
								<br></br> <br></br>
							</div>
							<div class="container-fluid">
								<!-- Start Page Content -->

								<div class="row">
									<div class="col-lg-12">
										<div class="card">



											<h:form>

												<div class="card-body">
													<div class="table-responsive">
														<table class="table">



															<thead>
																<tr>
																	<th style="color: #F0B300">REF</th>
																	<th style="color: #F0B300">Symbol</th>


																	<th style="color: #F0B300">Close</th>
																	<th style="color: #F0B300">Open</th>
																	<th style="color: #F0B300">High</th>
																	<th style="color: #F0B300">Low</th>
																	<th style="color: #F0B300">Volume</th>

																</tr>
															</thead>
															<tbody>
																<ui:repeat var="listT"
																	value="#{realTimeDataBeanS.showHistoriqueDataBySymbole()}">
																	<tr>
																		<td>#{listT.ref}</td>

																		<td>#{listT.symbol}</td>
																		<td style="color: red">#{listT.close}</td>
																		<td style="color: green">#{listT.open}</td>
																		<td style="color: red">#{listT.high}</td>
																		<td style="color: green">#{listT.low}</td>
																		<td style="font-weight: bold">#{listT.volume}</td>
																




																	</tr>
																</ui:repeat>
															</tbody>
														</table>
													</div>
												</div>
											</h:form>
										</div>
									</div>
									<!-- /# column -->

									<!-- /# column -->
								</div>





							</div>


							<div style="width: 100%; color: black;" id="map"></div>


						</div>
					</div>
				</section>
			</section>
			<ui:include src="/template/footer.xhtml" />
		</div>
		<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>





	</body>
	<script type="text/javascript">
        console.log("azerty");
            /*if ('serviceWorker' in navigator) {
             navigator.serviceWorker.register('sw.js');
             }*/


            if ('serviceWorker' in navigator) {
              /*  navigator.serviceWorker.getRegistrations().then(function (registrations) {
                    for (let registration of registrations) {
                        registration.unregister()
                    }
                });*/

                 window.addEventListener('load', function () {
                    navigator.serviceWorker.register('sw.js').then(function (registration) {
                        // Registration was successful
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    }, function (err) {
                        // registration failed :(
                        console.log('ServiceWorker registration failed: ', err);
                    });
                });
            }
        </script>

</ui:composition>