<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx - Bootstrap 3 flat corporate template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
		</f:facet>
	</h:head>
	<ui:include src="/template/header.xhtml" />


	<body>
		<div id="wrapper">
			<!-- start header -->

			<!-- ************************************* content start ********************************* -->





			<section id="featured">
				<!-- start slider -->
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<!-- Slider -->
							<div id="main-slider" class="flexslider">
								<ul class="slides">
									<li><img src="../ressources/img/slides/1.jpg" alt="" />
										<div class="flex-caption">
											<h3>Welcome to intellixx</h3>
											<p>Duis fermentum auctor ligula ac malesuada. Mauris et
												metus odio, in pulvinar urna</p>
												
											<a href="#" class="btn btn-theme">Learn More</a>
										</div></li>
									<li><img src="../ressources/img/slides/2.jpg" alt="" />
										<div class="flex-caption">
											<h3>Fully Responsive</h3>
											<p>Sodales neque vitae justo sollicitudin aliquet sit
												amet diam curabitur sed fermentum.</p>
											<a href="#" class="btn btn-theme">Learn More</a>
										</div></li>
									<li><img src="../ressources/img/slides/3.jpg" alt="" />
										<div class="flex-caption">
											<h3>Clean Fast</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing
												elit donec mer lacinia.</p>
											<a href="#" class="btn btn-theme">Learn More</a>
										</div></li>
								</ul>
							</div>
							<!-- end slider -->
						</div>
					</div>
				</div>



			</section>
			<section class="callaction">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="big-cta">
								<div class="cta-text">
									<h2>
									
										<span>Moderna</span> HTML Business Template
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="content">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-3">
									<div class="box">
										<div class="box-gray aligncenter">
											<h4>Fully responsive</h4>
											<div class="icon">
												<i class="fa fa-desktop fa-3x"></i>
											</div>
											<p>Voluptatem accusantium doloremque laudantium sprea
												totam rem aperiam.</p>

										</div>
										<div class="box-bottom">
											<a href="#">Learn more</a>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="box">
										<div class="box-gray aligncenter">
											<h4>Modern Style</h4>
											<div class="icon">
												<i class="fa fa-pagelines fa-3x"></i>
											</div>
											<p>Voluptatem accusantium doloremque laudantium sprea
												totam rem aperiam.</p>

										</div>
										<div class="box-bottom">
											<a href="#">Learn more</a>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="box">
										<div class="box-gray aligncenter">
											<h4>Customizable</h4>
											<div class="icon">
												<i class="fa fa-edit fa-3x"></i>
											</div>
											<p>Voluptatem accusantium doloremque laudantium sprea
												totam rem aperiam.</p>

										</div>
										<div class="box-bottom">
											<a href="#">Learn more</a>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="box">
										<div class="box-gray aligncenter">
											<h4>Valid HTML5</h4>
											<div class="icon">
												<i class="fa fa-code fa-3x"></i>
											</div>
											<p>Voluptatem accusantium doloremque laudantium sprea
												totam rem aperiam.</p>

										</div>
										<div class="box-bottom">
											<a href="#">Learn more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline"></div>
						</div>
					</div>
				
				
				
				
				<h4>CONTACT </h4>	
					<h:form>
		<h:panelGrid columns="2">
                
                To:
                <h:panelGroup>
				<h:inputText size="30" id="name" value="#{clientBean.recipient}"
					required="true" requiredMessage="Required" />
				<h:message for="name" style="color:red" />
			</h:panelGroup>
                
                Subject:
                <h:panelGroup>
				<h:inputText size="40" id="subject" value="#{clientBean.subject}"
					required="true" requiredMessage="Required" />
				<h:message for="subject" style="color:red" />
			</h:panelGroup>
                
                Message:
                <h:panelGroup>
				<h:inputTextarea cols="65" rows="15" id="message"
					value="#{clientBean.message}" required="true"
					requiredMessage="Required" />
				<h:message for="message" style="color:red" />
			</h:panelGroup>

			<h:commandButton value="Send" action="#{clientBean.send()}" />
			<h:outputText value="#{clientBean.statusMessage}" style="color:red" />

		</h:panelGrid>
	</h:form>
					
					
					
					<!-- end divider -->
					<!-- Portfolio Projects -->
					<div class="row">
						<div class="col-lg-12">
							<h4 class="heading">Recent Works</h4>
							<div class="row">
								<section id="projects">
									<ul id="thumbs" class="portfolio">
										<!-- Item Project and Filter Name -->
										<li class="col-lg-3 design" data-id="id-0" data-type="web">
											<div class="item-thumbs">
												<!-- Fancybox - Gallery Enabled - Title - Full Image -->
												<a class="hover-wrap fancybox" data-fancybox-group="gallery"
													title="Work 1" href="/ressources/img/works/1.jpg"> <span
													class="overlay-img"></span> <span
													class="overlay-img-thumb font-icon-plus"></span>
												</a>
												<!-- Thumb Image and Description -->
												<img src="../ressources/img/slides/1.jpg"
													alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." />
											</div>
										</li>
										
										
										<!-- End Item Project -->
										<!-- Item Project and Filter Name -->
										<li class="item-thumbs col-lg-3 design" data-id="id-1"
											data-type="icon">
											<!-- Fancybox - Gallery Enabled - Title - Full Image --> <a
											class="hover-wrap fancybox" data-fancybox-group="gallery"
											title="Work 2" href="/ressources/img/works/2.jpg"> <span
												class="overlay-img"></span> <span
												class="overlay-img-thumb font-icon-plus"></span>
										</a> <!-- Thumb Image and Description --> <img
											src="../ressources/img/slides/1.jpg"
											alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." />
										</li>
										<!-- End Item Project -->
										<!-- Item Project and Filter Name -->
										<li class="item-thumbs col-lg-3 photography" data-id="id-2"
											data-type="illustrator">
											<!-- Fancybox - Gallery Enabled - Title - Full Image --> <a
											class="hover-wrap fancybox" data-fancybox-group="gallery"
											title="Work 3" href="/ressources/img/works/3.jpg"> <span
												class="overlay-img"></span> <span
												class="overlay-img-thumb font-icon-plus"></span>
										</a> <!-- Thumb Image and Description --> <img
											src="../ressources/img/dummies/blog/img1.jpg"
											alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." />
										</li>
										<!-- End Item Project -->
										<!-- Item Project and Filter Name -->
										<li class="item-thumbs col-lg-3 photography" data-id="id-2"
											data-type="illustrator">
											<!-- Fancybox - Gallery Enabled - Title - Full Image --> <a
											class="hover-wrap fancybox" data-fancybox-group="gallery"
											title="Work 4" href="/ressources/img/works/4.jpg"> <span
												class="overlay-img"></span> <span
												class="overlay-img-thumb font-icon-plus"></span>
										</a> <!-- Thumb Image and Description --> <img
											src="../ressources/img/dummies/blog/img4.jpg"
											alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." />
										</li>
										<!-- End Item Project -->
									</ul>
								</section>
							</div>
						</div>
					</div>

				</div>
			</section>


			<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
			<!-- javascript
    ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->

			<ui:include src="/template/footer.xhtml" />
		</div>



	</body>


	<!-- ************************************* content start ********************************* -->











</ui:composition>