<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx - Bootstrap 3 flat corporate template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<!--===============================================================================================-->
			<link rel="icon" type="image/png"
				href="../LoginResources/images/icons/favicon.ico" />
			<!--===============================================================================================-->
			
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" />
			<!--===============================================================================================-->


			<!--============================================================================================
			===-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/vendor/css-hamburgers/hamburgers.css" />
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/vendor/animsition/css/animsition.min.css" />
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/vendor/select2/select2.min.css" />
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/vendor/daterangepicker/daterangepicker.css" />
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/css/util.css" />
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/css/main.css" />



			<!--===============================================================================================-->
				<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />
			<h:outputStylesheet library="css" name="application.css" />
			<link rel="shortcut icon" type="image/x-con" href="#{request.contextPath}/resources/img/favicon.ico" />
	
			

			
		</f:facet>
		<f:facet name="last">

			<!--===============================================================================================-->
			<script src="../LoginResources/vendor/jquery/jquery-3.2.1.min.js"></script>
			<!--===============================================================================================-->
			<script
				src="../LoginResources/vendor/animsition/js/animsition.min.js"></script>
			<!--===============================================================================================-->
			<script src="../LoginResources/vendor/bootstrap/js/popper.js"></script>
			<script src="../LoginResources/vendor/bootstrap/js/bootstrap.min.js"></script>
			<!--===============================================================================================-->
			<script src="../LoginResources/vendor/select2/select2.min.js"></script>
			<!--===============================================================================================-->
			<script src="../LoginResources/vendor/daterangepicker/moment.min.js"></script>
			<script
				src="../LoginResources/vendor/daterangepicker/daterangepicker.js"></script>
			<!--===============================================================================================-->
			<script src="../LoginResources/vendor/countdowntime/countdowntime.js"></script>
			<!--===============================================================================================-->
			<script src="../LoginResources/js/main.js"></script>
		</f:facet>
	</h:head>
<ui:include src="/template/header.xhtml" />
	<body>
	<div>
		<h1>Send claim</h1>
	<h:form id="form2">
	<h:inputText class="input100" value="#{claimsTrader.description}" />

	<h:commandButton action="#{claimsTrader.doSendReclamation(loginBean.userId)}"
						value="send Reclamation" />
						</h:form>
						</div>
	<div>
	<h1>My CLaims</h1>
		<h:form id="form">
			<h:dataTable value="#{claimsTrader.getListReclamation(loginBean.userId)}" var="reclamation" border="1">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Reclamation" />
					</f:facet>
					<h:outputText value="#{reclamation.description}" />
				</h:column>
			<h:column>
					<f:facet name="header">
						<h:outputText value="state" />
					</f:facet>
					<h:outputText value="#{reclamation.state}" />
				</h:column>
				
				</h:dataTable>
				</h:form>
</div>
	
	</body>

</ui:composition>