<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ct="http://www.chartistjsf.org/charts">
<h:head>
	<f:facet name="first">
		<head>
<meta charset="utf-8" />
<title>Intellixx</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
		</head>

	</f:facet>
	<f:facet name="middle">

		<!-- css -->

		<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../ressources/css/fancybox/jquery.fancybox.css"
			rel="stylesheet" />
		<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
		<link href="../ressources/css/flexslider.css" rel="stylesheet" />
		<link href="../ressources/css/style.css" rel="stylesheet" />

		<!-- Theme skin -->
		<link href="../ressources/skins/default.css" rel="stylesheet" />

	</f:facet>
	<f:facet name="last">


		<script src="../ressources/js/bootstrap.min.js"></script>

		<script src="../ressources/js/google-code-prettify/prettify.js"></script>
		<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
		<script src="../ressources/js/portfolio/setting.js"></script>

		<script src="../ressources/js/animate.js"></script>
		<!-- <script src="../ressources/js/custom.js"></script> -->
	</f:facet>
</h:head>
<h:body>
	<ui:include src="/template/header.xhtml" />

	<div id="wrapper">

		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="#"><i class="fa fa-home"></i></a><i
								class="icon-angle-right"></i></li>
							<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
							<li class="active">Archive of currency options</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- contenu formulaire -->


		<section id="content">

			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h3 class="right-sidebar">
							<strong>Payoff Charts</strong>
						</h3>





						<p:chart type="line"
							model="#{payoffChartBean.init(optionPriceBean.strikeprice,optionPriceBean.premiumprice,optionPriceBean.typeOption)}"
							style="height:600px;" widgetVar="chart" />

						<p:commandButton type="button" value="Reset Zoom" icon="ui-icon-cancel"
							onclick="PF('chart').resetZoom()" />






					</div>
				</div>
			</div>
		</section>
		<ui:include src="/template/footer.xhtml" />
	</div>

</h:body>

</html>