<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Option Price Calculator</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<!-- <script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script> -->
		</f:facet>
	</h:head>
	<ui:include src="/template/header.xhtml" />
	<h:body>

		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li class="active">Contact</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong>Option Price Calculator</strong>
							</h3>



							<h:form>


								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Strike Price" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="nomentre"
											required="true"
											requiredMessage=" Strike price value is required."
											value="#{optionPriceBean.strikeprice}" />
										<h:message for="nomentre" styleClass="alert-danger" />

									</div>
								</div>



								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Current Price" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="secteur" required="true"
											requiredMessage="Current Price value is required."
											value="#{optionPriceBean.currentprice}" />
										<h:message for="secteur" styleClass="alert-danger" />
									</div>
								</div>




								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Type Option" />
										</h4>
									</div>
									<div class="col-sm-4">
										<h:selectOneRadio class="form-control"
											value="#{optionPriceBean.typeOption}" required="true"
											requiredMessage="Option Type is Required">
											<f:selectItem itemValue="call" itemLabel="call" />
											<f:selectItem itemValue="put" itemLabel="put" />
										</h:selectOneRadio>
									</div>
								</div>

								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Volatility" />
										</h4>
									</div>
									<div class="col-sm-4">
										<h:inputText class="form-control" id="numero" required="true"
											requiredMessage="L est obligatoire."
											value="#{optionPriceBean.volatility}" />
										<h:message for="numero" styleClass="alert-danger" />
									</div>
									<div class="col-sm-4">
										<p:commandButton
											action="#{optionPriceBean.calculatevolatility()}"
											value="Automatic Volatility Value" ajax="false"
											icon="ui-icon-check" validateClient="true"
											style="margin-right:2px" />
									</div>

								</div>


								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Risk Free Interest Rate" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="poste" required="true"
											requiredMessage="Le champ intitulé du poste est obligatoire."
											value="#{optionPriceBean.risk}" />
										<h:message for="poste" styleClass="alert-danger" />
									</div>

								</div>

								<div class="row">

									<div class="col-sm-4">
										<h4>
											<h:outputText value="Dividend Yield" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="mission" required="true"
											requiredMessage="Le champ mission est obligatoire."
											value="#{optionPriceBean.dividendYield}" />
										<h:message for="mission" styleClass="alert-danger" />
									</div>

								</div>

								<div class="row">

									<div class="col-sm-4">
										<h4>
											<p:outputLabel for="german" value="Expiration Date:" />
										</h4>
									</div>
									<div class="col-sm-5">

										<p:calendar id="german"
											value="#{optionPriceBean.expirationDate}" locale="de"
											navigator="true" pattern="d/M/yyyy" />
									</div>

								</div>


								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Calculation Model" />
										</h4>
									</div>
									<div class="col-sm-6">
										<h:selectOneRadio class="form-control"
											value="#{optionPriceBean.calculationModel}">
											<f:selectItem itemValue="Black and Scholes"
												itemLabel="Black and Scholes" />
											<f:selectItem itemValue="Parity Put/Call"
												itemLabel="Parity Put/Call" />
											<f:selectItem itemValue="Binomial" itemLabel="Binomial" />

										</h:selectOneRadio>
									</div>
								</div>
								<br />



								<div class="row">
									<div class="col-sm-4">

										<h:commandButton class="btn btn-primary"
											value="Calculer le prix de l'option"
											action="#{optionPriceBean.calculatrice()}" />

									</div>

									<div class="col-sm-5">
										<h:inputText class="form-control" id="mission2"
											required="true"
											requiredMessage="Le champ mission est obligatoire."
											value="#{optionPriceBean.premiumprice}" />
										<h:message for="mission" styleClass="alert-danger" />
									</div>
								</div>

								<div class="col-sm-4">

									<h:commandButton class="btn btn-primary"
										value="Go to Greeks Values" action="/Pages/Greeks_Table.xhtml" />




								</div>
								<div class="col-sm-4">


									<h:commandButton class="btn btn-primary"
										value="See PayOff Charts" action="/Pages/PayoffChart.xhtml" />

								</div>
							</h:form>




						</div>
					</div>

				</div>
			</section>


			<ui:include src="/template/footer.xhtml" />

		</div>

	</h:body>

</ui:composition>


