<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx - Bootstrap 3 flat corporate template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">

		</f:facet>
	</h:head>
	<ui:include src="/template/header.xhtml" />


	<body>

		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
								<li class="active">Add Currency Option</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div>

			<h:form id="form1">
				<h:panelGrid columns="4">

				</h:panelGrid>
				<p:dataTable value="#{bourseBean.listBourse}" paginator="true"
					emptyMessage="No Data" resizableColumns="true"
					selectionMode="single" rowKey="#{bourse.name}"
					paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" var="bourse" id="data" rows="10">

					<p:column headerText="Name ">
						<h:outputText value="#{bourse.name}" />
					</p:column>
					<p:column headerText="Begin ">
						<h:outputText value="#{bourse.price}" />
					</p:column>
					<p:column headerText="High ">
						<h:outputText value="#{bourse.haut}" />
					</p:column>
					<p:column headerText="Low ">
						<h:outputText value="#{bourse.bas}" />
					</p:column>
					<p:column headerText="End ">
				<h:outputText value="#{bourse.cloture}" />
			</p:column>
			<p:column headerText="Variation ">
				<h:outputText value="#{bourse.variation}" />
			</p:column>
			<p:column headerText="Volume ">
				<h:outputText value="#{bourse.volumeDt}" />
			</p:column>


				</p:dataTable>


			</h:form>


		</div>


		<!-- javascript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		<ui:include src="/template/footer.xhtml" />




	</body>


	<!-- ************************************* content start ********************************* -->











</ui:composition>