<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
                	
                	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			
			
			<script src="../ressources/js/bootstrap.min.js"></script>
			
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
		
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
		</f:facet>
	</h:head>
	<ui:include src="/template/header.xhtml" />
	<h:body>

		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
								<li class="active"> Own currency options</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong>List of your Own Currency Option</strong>
							</h3>
                	<BR />
                	
              
             <form>
                                           
                                            <div class="form-group">
                                                <h:selectOneMenu class="form-control" value="#{currencyOptionBean.unitEchange}">
                                                 <f:selectItem itemLabel="search" itemValue="" />
                                                <f:selectItems value="#{data.unitExchanges}"  />
                                                </h:selectOneMenu>
                                                </div>
                                           <div class="text-center">

									<h:form><h:commandButton class="btn btn-primary" value="Search" for="b"
										action="#{currencyOptionBean.redirection(currencyOptionBean.unitEchange)}"  /></h:form>
									

								</div>
                                        </form>
                  
              <p:dataTable var="co" value="#{currencyOptionBean.redirection(currencyOptionBean.unitEchange)}">
              <p:column headerText="strike price">
        <h:outputText value="#{co.strikePrice}" />
    </p:column>
              
                  <p:column headerText="current price">
        <h:outputText value="#{co.currentPrice}" />
    </p:column>
    <p:column headerText="volatility">
        <h:outputText value="#{co.volatility}" />
    </p:column>
      <p:column headerText="Unit Exchange">
        <h:outputText value="#{co.unitEchange}" />
    </p:column>
        <p:column headerText="Type Option">
        <h:outputText value="#{co.typeoption}" />
    </p:column>
        
        <p:column headerText="Expiration Date">
        <h:outputText value="#{co.expirationDate}" />
    </p:column>
        
                        
              </p:dataTable>
              
              
    
                                            
                	
         </div>
         </div>
         </div>
         </section>
         <ui:include src="/template/footer.xhtml" />
         </div>       	
                	
             </h:body>   	

</ui:composition>