<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
		</f:facet>
		<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 50%;
	width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

strong {
	color: black;
}
</style>

	</h:head>
	<ui:include src="/template/header.xhtml" />

	<body>
		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
								<li class="active">List of currency options</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong>List Of Currency Option</strong>
							</h3>

<br />
                                    
                                        <!-- Contact -->
         <h:link outcome="/pages/Search.xhtml" value=" Go To Search"/>                              

							 

<!-- <div class="col-sm-5">
										<h:outputText  class="form-control" id="dateaa"
											required="true"
											requiredMessage="Le champ Expiration Date est obligatoire."
											value="#{loginBean.userId}" >
											
											</h:outputText>
										<h:message for="dateaa" styleClass="alert-danger" />
									</div> -->
									
									<h:form>
								
								<div class="card-body">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>#</th>
													<th>Current Price</th>
													<th>Strike Price</th>
													<th>premuim</th>
													<th>Risk</th>
													<th>Expiration Date</th>
													<th>Type Option</th>
													<th>Volatility</th>
													<th>Premuim</th>
													<th>Unit Exchange</th>
													<th>Gain Loss</th>
													<th>Archive </th>
													<th>Buy</th>
												</tr>
											</thead>
											<tbody>
											<ui:repeat var="listT" value="#{currencyOptionBean.AfficherNotcurrency(loginBean.userId)}">
												<tr>
													<th scope="row">#{listT.id}</th>
													<td>#{listT.currentPrice}</td>
													<td><span class="badge badge-primary" >#{listT.strikePrice}</span></td>
													<td>#{listT.premium}</td>
													<td>#{listT.risk}</td>
													<td>#{listT.expirationDate}</td>
													<td>#{listT.typeoption}</td>
													<td>#{listT.volatility}</td>
													<td>#{listT.premium}</td>
													<td>#{listT.unitEchange}</td>
													<td><h:commandButton  class="btn btn-warning m-b-10 m-l-5" action="#{currencyOptionBean.getGainOrLoss10(listT.id)}" value="GainLoss"  onclick="return confirm('Do you want to verify your Gain OR Loss ?');" ></h:commandButton>#{currencyOptionBean.getGainOrLoss10(listT.id)}</td>
													<td><h:commandButton  class="btn btn-info m-b-10 m-l-5" action="#{currencyOptionBean.modif(listT)}" value="Archive" onclick="return confirm('Do you want to Archive this Option?');"></h:commandButton></td>
													<td><h:commandButton  class="btn-success" action="#{currencyOptionBean.ajoutAchatCUrrencyOp(listT.id)}" value="Buy" onclick="return confirm('Do you want to Buy this Option?');"></h:commandButton></td>
												</tr>
											</ui:repeat>	
											</tbody>
										</table>
									</div>
								</div>
								</h:form>
									
						</div>
					</div>
				</div>
			</section>
			<ui:include src="/template/footer.xhtml" />
		</div>
		<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>





	</body>

</ui:composition>