<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
               	xmlns:p="http://primefaces.org/ui"
                xmlns:ct="http://primefaces.org/ui">
	<h:head>
		<f:facet name="first">
			<head>
			
<meta charset="utf-8" />
<title>Intellixx</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
<!-- 			<script src="../ressources/js/custom.js"></script>
 -->		</f:facet>
		<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 50%;
	width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

strong {
	color: black;
}
</style>

	</h:head>
	<ui:include src="/template/header.xhtml" />

	<body>
		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
								<li class="active">List Currency Account</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">
<h:form>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong>List Currency Account</strong>
							</h3>

							<h:dataTable var="listA" value="#{currencyAccountBean.curracc}"
								border="1">


								<h:column>
									<f:facet name="header">
										<h:outputText value=" Amount " />
									</f:facet>
									<h:outputText value="#{listA.amount}" />
								</h:column>

								<h:column>
									<f:facet name="header">
										<h:outputText value=" SumIncome " />
									</f:facet>
									<h:outputText value="#{listA.sumIncome}" />
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value=" SumExpense " />
									</f:facet>
									<h:outputText value="#{listA.sumExpenses}" />
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value=" Typecurrency " />
									</f:facet>
									<h:outputText value="#{listA.typecurrency}" />
								</h:column>

								<h:column>
									<f:facet name="header">
										<h:outputText value=" Current Profit  " />
									</f:facet>
									<h:outputText value="#{listA.sumIncome-listA.sumExpenses}" />
								</h:column>

								<h:column>
									<f:facet name="header">
										<h:outputText value="Action" />
									</f:facet>
									<h:commandButton
										action="#{currencyAccountBean.supprimerCurrencyAcc(listA.id)}"
										value="Supprimer" />
									<h:commandButton
										action="#{currencyAccountBean.modifierCurrencyAcc(listA)}"
										value="Modifier" />
								</h:column>







							</h:dataTable>


							<h:panelGrid columns="2"  >

								<h:outputText value="Amount" />
								<h:inputText value="#{currencyAccountBean.amount}" />


								<h:outputText value="Type Currency" />
								<h:selectOneMenu value="#{currencyAccountBean.typecurrency}">
									<f:selectItem itemLabel="select currency type" itemValue="" />
									<f:selectItems value="#{data.typeCurrencyAccount}" />
								</h:selectOneMenu>

								
								<h:commandButton action="#{currencyAccountBean.mettreAjourAccount()}"
									value="Mettre a jour employe" />

							</h:panelGrid>


						</div>
					</div>
				</div>
				</h:form>
			</section>
			<ui:include src="/template/footer.xhtml" />
		</div>
		<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>





	</body>

</ui:composition>