<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />
			 <link href="../ressourcesAdmin/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="../ressourcesAdmin/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="../ressourcesAdmin/css/helper.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/style.css" rel="stylesheet"/>
			

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />

		</f:facet>
		<f:facet name="last">
			<script src="../ressources/js/jquery.js"></script>
			<script src="../ressources/js/jquery.easing.1.3.js"></script>
			<script src="../ressources/js/bootstrap.min.js"></script>
			<script src="../ressources/js/jquery.fancybox.pack.js"></script>
			<script src="../ressources/js/jquery.fancybox-media.js"></script>
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
			<script src="../ressources/js/jquery.flexslider.js"></script>
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
			
			
			
			<!-- All Jquery -->
    <script src="../ressourcesAdmin/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../ressourcesAdmin/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="../ressourcesAdmin/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../ressourcesAdmin/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="../ressourcesAdmin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../ressourcesAdmin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
     <script src="../ressourcesAdmin/js/lib/morris-chart/raphael-min.js"></script>
    <script src="../ressourcesAdmin/js/lib/morris-chart/morris.js"></script>
    <script src="../ressourcesAdmin/js/lib/morris-chart/dashboard1-init.js"></script>


	<script src="../ressourcesAdmin/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/pignose.init.js"></script>

    <script src="../ressourcesAdmin/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="../ressourcesAdmin/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="../ressourcesAdmin/js/scripts.js"></script>
    <script src="../ressourcesAdmin/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="../ressourcesAdmin/js/lib/chart-js/chartjs-init.js"></script>
      <script src="../ressourcesAdmin/js/lib/chartist/Chartist.min.js"></script>
    <script src="../ressourcesAdmin/js/lib/chartist/chartist-init.js"></script>
      <script src="../ressourcesAdmin/js/lib/peitychart/peitychart.init.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/peitychart/peitychart.init.js"></script>
        <script src="../ressourcesAdmin/js/"></script>
    <!-- scripit init-->

   
    
     <script src="../ressourcesAdmin/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../ressourcesAdmin/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="../ressourcesAdmin/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../ressourcesAdmin/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="../ressourcesAdmin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../ressourcesAdmin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <script src="../ressourcesAdmin/js/lib/peitychart/jquery.peity.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/peitychart/peitychart.init.js"></script>	
			
			
			
		</f:facet>
		<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 50%;
	width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

strong {
	color: black;
}
</style>

	</h:head>
	<ui:include src="/template/header.xhtml" />

	<body>
		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
								<li class="active">Statistic Forex Optiont</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong>Statistic Forex Option</strong>
							</h3>
<div class="container-fluid">
       
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Pie Chart</h4>
                               
                                <div class="ct-sm-line-chart">
                               <div class="card-title">
                                
                                <div class="card-title-right-icon">
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <span  class="pie" data-peity='{ "fill": ["#13dafe", "#f2f2f2"]}'>#{currencyOptionBean.caluculUnitEx()},#{currencyOptionBean.caluculUnitExTotal()}</span>
                                  <br />      
                                  <output >CAD_EUR </output>
                                                                    <br />      
                                  <output >#{currencyOptionBean.pourcent()}%</output>
                                    </div>
                                    <div class="col-lg-2">
                                       
                                        <span class="pie" data-peity='{ "fill": ["#6164C1", "#f2f2f2"]}'>#{currencyOptionBean.calucul1()},#{currencyOptionBean.caluculUnitExTotal()}</span>
                                   
                                    <br />      
                                  <output >Eur_TND </output>
                                                                    <br />      
                                  <output >#{currencyOptionBean.pourcent1()}%</output>
                                    </div>
                                    <div class="col-lg-2">
                                        <span class="pie" data-peity='{ "fill": ["#F96262", "#f2f2f2"]}'>#{currencyOptionBean.calucul4()},#{currencyOptionBean.caluculUnitExTotal()}</span>
                                        <br />      
                                  <output >USD_TDN </output>
                                                                    <br />      
                                  <output >#{currencyOptionBean.pourcent4()}%</output>
                                        
                                    </div>
                                    <div class="col-lg-2">
                                       
                                        <span class="pie" data-peity='{ "fill": ["#99D683", "#f2f2f2"]}'>#{currencyOptionBean.calucul2()},#{currencyOptionBean.caluculUnitExTotal()}</span>
                                       <br />      
                                  <output >JPY_EUR </output>
                                                                    <br />      
                                  <output >#{currencyOptionBean.pourcent2()}%</output>
                                    </div>
                                    <div class="col-lg-2">
                                        <span class="pie" data-peity='{ "fill": ["#FFCA4A", "#f2f2f2"]}'>#{currencyOptionBean.calucul3()},#{currencyOptionBean.caluculUnitExTotal()}</span>
                                      <br />      
                                  <output >USD_EUR </output>
                                                                    <br />      
                                  <output >#{currencyOptionBean.pourcent3()}%</output>
                                    </div>
                                    
                                </div>
                            </div>                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <!-- column -->
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                        <h4 class="card-title">Progress Bar</h4>
                            <div class="card-body browser">
                                

                           

                                <p class="m-t-30 f-w-600">Pourcentage of option with high risk <span class="pull-right">#{currencyOptionBean.highrisk()}%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: #{currencyOptionBean.highrisk()}%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">Pourcentage of option with low risk <span class="pull-right">#{currencyOptionBean.lowrisk()}%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: #{currencyOptionBean.lowrisk()}%; height:8px;" class="progress-bar bg-warning wow animated progress-animated"> <span class="sr-only">30% Complete</span> </div>
                                </div>

								
                            </div>
                        </div>
                    </div>
                    <div class="row">
                  
                    
                    <!-- /# column -->
                     <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Extra Area Chart</h4>
                                <div id="extra-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
</div>

							
						</div>
					</div>
				</div>
			</section>
			<ui:include src="/template/footer.xhtml" />
		</div>
		<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>





	</body>

</ui:composition>