<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Contact</title>

	<!-- css -->

	<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../ressources/css/fancybox/jquery.fancybox.css"
		rel="stylesheet" />
	<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
	<link href="../ressources/css/flexslider.css" rel="stylesheet" />
	<link href="../ressources/css/style.css" rel="stylesheet" />

	<!-- Theme skin -->
	<link href="../ressources/skins/default.css" rel="stylesheet" />


</h:head>
<ui:include src="/template/header.xhtml" />

<h:body>
	<br></br>
	<br></br>
	<br></br>

	<br></br>
	<br></br>

	<h:form>
		<div style="position: center;">
		<h4 style="color: DodgerBlue;"><strong style="color: white;">aaaaaaaa </strong>CONTACT OWNER</h4>
		<br></br>
	<br></br>
	<br></br>
			<h:panelGrid columns="2">
				<h:outputLabel style="color:blue"  value="To:" />

				<h:panelGroup>
					<h:inputText size="50" id="name" value="#{clientBean.recipient}"
						required="true" requiredMessage="Required" />
					<h:message for="name" style="color:red" />
				</h:panelGroup>
				
				<h:outputLabel style="color:blue" value="Subject:" />


				<h:panelGroup>
					<h:inputText size="50" id="subject" value="#{clientBean.subject}"
						required="true" requiredMessage="Required" />
					<h:message for="subject" style="color:red" />
				</h:panelGroup>
				<h:outputLabel style="color:blue"  value=" Message:" />

				<h:panelGroup>
					<h:inputTextarea cols="250" rows="15" id="message"
						value="#{clientBean.message}" required="true"
						requiredMessage="Required" />
					<h:message for="message" style="color:red" />
				</h:panelGroup>
			<br></br>
			<br></br>
			<br></br>

				<h:commandButton   value="Send" action="#{clientBean.send()}">
				
				
				</h:commandButton>
				<h:outputText value="#{clientBean.statusMessage}" style="color:red" />

			</h:panelGrid>
		</div>
			<br></br>
	<br></br>
	<br></br>
	<br></br>
	</h:form>
	
	<ui:include src="/template/footer.xhtml" />

</h:body>
</html>
