<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>

<style>
.center {
    margin: auto;
    width: 28%;
    border: 3px solid Tomato;
    padding: 10px;
}
</style>

		<!-- css -->

		<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../ressources/css/fancybox/jquery.fancybox.css"
			rel="stylesheet" />
		<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
		<link href="../ressources/css/flexslider.css" rel="stylesheet" />
		<link href="../ressources/css/style.css" rel="stylesheet" />

		<!-- Theme skin -->
		<link href="../ressources/skins/default.css" rel="stylesheet" />


	</h:head>
	<ui:include src="/template/header.xhtml" />
	<H6 style="color: DodgerBlue;">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</H6>
	
	<body>
	
			<div class="col-md-8 col-md-offset-2">
			<div class="center">
			
    <h4 style="color: Tomato;">SYSTEM CLOCK</h4>
    								 <br></br>
    
    <p:clock displayMode="analog" />
    								 <br></br>
    
								<h:form>

								 <br></br>

									<p:clock pattern="HH:mm:ss dd.MM.yyyy" mode="server" />

								</h:form>
</div>
								
								 <br></br>
							</div>
		<br></br>
		<div>
				<h3 style="color: DodgerBlue;"><strong style="color: white;">aaaAAAAAAAAAAA </strong>ACTIONS ACTIVITY</h3>
</div>
		<br></br>
		
		<p:growl id="growl" showSummary="true" showDetail="true">
			<p:autoUpdate />
		</p:growl>

		<p:timeline id="timeline" value="#{basicTimelineView.model}"
			height="450px" selectable="#{basicTimelineView.selectable}"
			zoomable="#{basicTimelineView.zoomable}"
			moveable="#{basicTimelineView.moveable}"
			stackEvents="#{basicTimelineView.stackEvents}"
			axisOnTop="#{basicTimelineView.axisOnTop}"
			eventStyle="#{basicTimelineView.eventStyle}"
			showCurrentTime="#{basicTimelineView.showCurrentTime}"
			showNavigation="#{basicTimelineView.showNavigation}">

			<p:ajax event="select" listener="#{basicTimelineView.onSelect}" />

		</p:timeline>


	</body>

</ui:composition>