<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
                	
                	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />
			
			
			
			

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />






 <link href="../ressourcesAdmin/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="../ressourcesAdmin/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="../ressourcesAdmin/css/helper.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/style.css" rel="stylesheet"/>




		</f:facet>
		<f:facet name="last">
			
			
			<script src="../ressources/js/bootstrap.min.js"></script>
			
			<script src="../ressources/js/google-code-prettify/prettify.js"></script>
			<script src="../ressources/js/portfolio/jquery.quicksand.js"></script>
			<script src="../ressources/js/portfolio/setting.js"></script>
		
			<script src="../ressources/js/animate.js"></script>
			<script src="../ressources/js/custom.js"></script>
			
			
			
			
			
    <script src="../ressourcesAdmin/js/custom.min.js"></script>
			
			
			
			
			
			
		</f:facet>
	</h:head>
	<ui:include src="/template/header.xhtml" />
	<h:body>

		<div id="wrapper">

			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="#"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li><a href="#">Intellixx</a><i class="icon-angle-right"></i></li>
								<li class="active">Archive of currency options</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- contenu formulaire -->


			<section id="content">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="right-sidebar">
								<strong>trading forex Option</strong>
							</h3>
           
                	 
          
          
              <p:dataTable var="ac" value="#{currencyOptionBean.idcurrachat}">
              
                  <p:column headerText="current">
        <h:outputText value="#{ac.currentPrice}" />
    </p:column>
    <p:column headerText="Expiration date">
        <h:outputText value="#{ac.expirationDate}" />
    </p:column>
     
        <p:column headerText="state trade">
        <h:outputText value="#{ac.stateOption}" />
    </p:column>
        
                           <p:column headerText="strike price">
        <h:outputText value="#{ac.strikePrice}" />
    </p:column>
     <p:column headerText="id currency">
        <h:outputText value="#{ac.id}" />
    </p:column>
    <p:column headerText="id trader">
        <h:outputText value="#{ac.trader.id}" />
    </p:column>
    
              </p:dataTable>
            <br />  
       <h:form>

								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="currency " />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="Priceee"
											required="true"
											requiredMessage="You must put Id Currency Option."
											value="#{tradingCurrencyOptionBean.idCurrencyOption}" >
											<f:validateLongRange minimum="1" maximum="500"></f:validateLongRange>
											</h:inputText>
										<p:message for="Priceee" styleClass="alert-danger" />
									</div>
								</div>
								
	<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value=" trader " />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="Pr"
											required="true"
											requiredMessage="You must put Id Trader"
											value="#{tradingCurrencyOptionBean.idTrader}" >
											<f:validateLongRange minimum="1" maximum="500"></f:validateLongRange>
											</h:inputText>
										<p:message for="Pr" styleClass="alert-danger" />
									</div>
								</div>
								
									
	

								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Settlement Date" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText  class="form-control" id="dateaa"
											required="true"
											requiredMessage="You must Put Settelment Date"
											value="#{tradingCurrencyOptionBean.settelmentDate}" >
											<f:convertDateTime pattern="MM-dd-yyyy"/>
											</h:inputText>
										<p:message for="dateaa" styleClass="alert-danger" />
									</div>

								</div>
								<h:form>

								<div class="row">
									<div class="col-sm-4">
										<h4>
											<h:outputText value="Purchase " />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="Priceee"
											required="true"
											requiredMessage="You must Put a Purchse."
											value="#{tradingCurrencyOptionBean.nom}" />
										<p:message for="Priceee" styleClass="alert-danger" />
									</div>
								</div>
								<div class="text-center">

									<h:commandButton class="btn btn-warning" value="ok"
										action="#{tradingCurrencyOptionBean.achatForexOp()}" onclick="return confirm('Do you want to buy this Option?');">
</h:commandButton>
								</div>
								

									

						
								



								
       </h:form>       
       </h:form>
          <h:form> 
         
          <!--  <h:inputText value="#{loginBean.userId}" /> -->
         
          	</h:form>
          	 <h:form><div class="col-md-3" >
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>#{tradingCurrencyOptionBean.amount()}</h2>
                                    <p class="m-b-0">Your Amount Now </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </h:form>
          	    	 
          
           
         </div>
         </div>
         </div>
         </section>
         <ui:include src="/template/footer.xhtml" />
         </div>       	
                	
             </h:body>   	

</ui:composition>


