<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
			</head>

		</f:facet>


		<f:facet name="middle">
			<!-- Favicon icon -->
			<link rel="icon" type="image/png" sizes="16x16"
				href="../ressourcesAdmin/images/favicon.png" />
			<title>PlatForm Intellixx - Bootstrap Admin Dashboard
				Template</title>
			<!-- Bootstrap Core CSS -->
			<link href="../ressourcesAdmin/css/lib/bootstrap/bootstrap.min.css"
				rel="stylesheet" />
			<!-- Custom CSS -->
			<link href="../ressourcesAdmin/css/helper.css" rel="stylesheet" />
			<link href="../ressourcesAdmin/css/style.css" rel="stylesheet" />

			<script
				src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script
				src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		</f:facet>
		<f:facet name="last">
			<!-- All Jquery -->
			<script src="../ressourcesAdmin/js/lib/jquery/jquery.min.js"></script>
			<!-- Bootstrap tether Core JavaScript -->
			<script src="../ressourcesAdmin/js/lib/bootstrap/js/popper.min.js"></script>
			<script src="../ressourcesAdmin/js/lib/bootstrap/js/bootstrap.min.js"></script>
			<!-- slimscrollbar scrollbar JavaScript -->
			<script src="../ressourcesAdmin/js/jquery.slimscroll.js"></script>
			<!--Menu sidebar -->
			<script src="../ressourcesAdmin/js/sidebarmenu.js"></script>
			<!--stickey kit -->
			<script
				src="../ressourcesAdmin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
			<!--Custom JavaScript -->
			<script src="../ressourcesAdmin/js/custom.min.js"></script>



		</f:facet>
	</h:head>
	<ui:include src="/templateAdmin/header.xhtml" />

	<body class="fix-header fix-sidebar">
		<!-- Preloader - style you can find in spinners.css -->

		<!-- Main wrapper  -->
		<div id="main-wrapper">
			<ui:include src="/templateAdmin/sidebarnav.xhtml" />
			<!-- Page wrapper  -->
			<div class="page-wrapper">
				<!-- Bread crumb -->
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-primary">ADMIN</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active">ADMIS WATCHLIST</li>
						</ol>
					</div>
				</div>
				<!-- End Bread crumb -->
				<!-- Container fluid  -->
				<div class="container-fluid">
					<!-- Start Page Content -->
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-title">
									<h4>WATCHLIST</h4>

								</div>
								<h:form>

									<div class="card-body">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>Strike Price</th>
														<th>Current Price</th>

														<th>Type Option</th>
														<th>Expiration Date</th>
														<th>Volatility of Option</th>
														<th>Risk Option</th>
														<th>Numbers of shares</th>
														<th>State Option</th>
														<th>Manage of the Option</th>
														<th><STRONG style="color: red">Validate the
																option</STRONG></th>

													</tr>
												</thead>
												<tbody>
													<ui:repeat var="listT"
														value="#{adminStockOptionBean.stockOptions}">
														<tr>

															<td>#{listT.strikePriceStock}</td>
															<td>#{listT.currentPriceStock}</td>


															<td>#{listT.typeOptionStock}</td>
															<td>#{listT.expirationDateStock}</td>
															<td>#{listT.volatilityStock}</td>
															<td>#{listT.riskStock}</td>
															<td>#{listT.nbShares}</td>
															<td>#{listT.stateOptionStock}</td>


															<td><h:commandButton
																	class="btn btn-danger m-b-10 m-l-5"
																	action="#{adminStockOptionBean.supprimer(listT.id)}"
																	value="delete."></h:commandButton></td>

															<td><h:selectOneMenu
																	value="#{adminStockOptionBean.stateOptionStock}">
																	<f:selectItem itemLabel="Validate the Option"
																		itemValue="" />
																	<f:selectItems
																		value="#{data2.stateOptionsOptionStocks}" />
																</h:selectOneMenu> <h:commandButton
																	action="#{adminStockOptionBean.validate(listT)}"
																	class="btn btn-warning  m-b-10 m-l-5" id="ss8"
																	value="Click to Validate"></h:commandButton></td>

														</tr>
													</ui:repeat>
												</tbody>
											</table>
										</div>
									</div>
								</h:form>
							</div>
						</div>
						<!-- /# column -->

						<!-- /# column -->
					</div>
					<!-- /# row -->
					<!-- End PAge Content -->
				</div>
				<!-- End Container fluid  -->
				<ui:include src="/templateAdmin/footer.xhtml" />
			</div>
			<!-- End Page wrapper  -->
		</div>
		<!-- End Wrapper -->


	</body>







</ui:composition>