<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">



<h:head>
<f:facet name="first">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
</head>
</f:facet>
<f:facet name="middle">
<!-- Favicon icon -->
	
    <link rel="icon" type="image/png" sizes="16x16" href="../ressourcesAdmin/images/favicon.png"/>
    <title>PlatForm Intellixx - Bootstrap Admin Dashboard Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="../ressourcesAdmin/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->

    <link href="../ressourcesAdmin/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="../ressourcesAdmin/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="../ressourcesAdmin/css/helper.css" rel="stylesheet"/>
    <link href="../ressourcesAdmin/css/style.css" rel="stylesheet"/>
   
</f:facet>
<f:facet name="last">

 <!-- All Jquery -->
    <script src="../ressourcesAdmin/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../ressourcesAdmin/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="../ressourcesAdmin/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../ressourcesAdmin/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="../ressourcesAdmin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../ressourcesAdmin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
     <script src="../ressourcesAdmin/js/lib/morris-chart/raphael-min.js"></script>
    <script src="../ressourcesAdmin/js/lib/morris-chart/morris.js"></script>
    <script src="../ressourcesAdmin/js/lib/morris-chart/dashboard1-init.js"></script>


	<script src="../ressourcesAdmin/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="../ressourcesAdmin/js/lib/calendar-2/pignose.init.js"></script>

    <script src="../ressourcesAdmin/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="../ressourcesAdmin/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="../ressourcesAdmin/js/scripts.js"></script>
    <!-- scripit init-->

    <script src="../ressourcesAdmin/js/custom.min.js"></script>

</f:facet>
</h:head>

<ui:include src="/templateAdmin/header.xhtml" />




<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
       
  <ui:include src="/templateAdmin/sidebarnav.xhtml" />
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">logged in successfully!</li>
                         
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                

                <div class="row bg-white m-l-0 m-r-0 box-shadow ">

                    <!-- column -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Email</h4>
                                <div class="card-body">
									<div class="basic-form">

										<h:form>
										
											<label>First Name</label>
											<div class="form-group">
												<h:inputText value="#{tradingCurrencyOptionBean.firstName}"
													type="text" class="form-control input-flat"
													required="true"
										
													placeholder="Input Flat" />

											</div>
											<br></br>
											<label>to</label>
											<div class="form-group">
												<h:inputText value="#{mailingBean.to}"
													type="text" class="form-control input-flat"
													required="true"
													requiredMessage="You must Put the receiver"
												
													id="i1" >
													<f:validateRegex pattern=".+\@.+\..+"></f:validateRegex>
													</h:inputText>
													<p:message for="i1" styleClass="alert-danger"/>

											</div>
											
											<label>Description</label>
											<div class="form-group">
												<h:inputTextarea  value="#{mailingBean.corp}"
												 class="form-control input-flat"
													placeholder="Input Flat" 
													required="true"
													requiredMessage="You must Put Description "
					
													id="i2">
													<f:validateLength maximum="400"></f:validateLength>
													</h:inputTextarea>
                                              <p:message for="i2" styleClass="alert-danger"/>
											</div>
											<h:commandButton value="ok" id="submit" action="#{mailingBean.send(mailingBean.subject)}"
												class="btn btn-w-md btn-round btn-info" onclick="return confirm('Are You Sure for sending this mail !?);"
												 >
												 </h:commandButton>
										</h:form>

									</div>
								</div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- column -->

                    <!-- column -->
                    <div class="col-lg-8">
                        
                        <div class="card">
                            <div class="card-title">
                                <h4>Recent Orders </h4>
                            </div>
                           <h:form>
								
								<div class="card-body">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>#</th>
													<th>Settelement Date</th>
													<th>State Trade</th>
													<th>Treatment</th>
													
												
												</tr>
											</thead>
											<tbody>
											<ui:repeat var="listT" value="#{tradingCurrencyOptionBean.forexTrade}">
												<tr>
													<th scope="row">#{listT.currencyOption.id}</th>
													<td>#{listT.settelmentDate}</td>
													<td><span class="badge badge-primary" >#{listT.stateTrade}</span></td>
													
													<td><h:form><h:commandButton  class="btn btn-warning m-b-10 m-l-5" action="#{tradingCurrencyOptionBean.Recuperer(listT)}" value="Send Mail" ></h:commandButton></h:form></td>
													
													
												</tr>
											</ui:repeat>	
											</tbody>
										</table>
									</div>
								</div>
								</h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- column -->
                </div>
                
                   
                


       


                <!-- End PAge Content -->
            
            <!-- End Container fluid  -->
          <ui:include src="/templateAdmin/footer.xhtml" />
        
        <!-- End Page wrapper  -->
    
    <!-- End Wrapper -->
   

</body>        	

</ui:composition>