<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	>
	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
			</head>

		</f:facet>


		<f:facet name="middle">
			<!-- Favicon icon -->
			<link rel="icon" type="image/png" sizes="16x16"
				href="../ressourcesAdmin/images/favicon.png" />
			<title>PlatForm Intellixx - Bootstrap Admin Dashboard Template</title>
			<!-- Bootstrap Core CSS -->
			<link href="../ressourcesAdmin/css/lib/bootstrap/bootstrap.min.css"
				rel="stylesheet" />
			<!-- Custom CSS -->
			<link href="../ressourcesAdmin/css/helper.css" rel="stylesheet" />
			<link href="../ressourcesAdmin/css/style.css" rel="stylesheet" />

			<script
				src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script
				src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		</f:facet>
		<f:facet name="last">
			<!-- All Jquery -->
			<script src="../ressourcesAdmin/js/lib/jquery/jquery.min.js"></script>
			<!-- Bootstrap tether Core JavaScript -->
			<script src="../ressourcesAdmin/js/lib/bootstrap/js/popper.min.js"></script>
			<script src="../ressourcesAdmin/js/lib/bootstrap/js/bootstrap.min.js"></script>
			<!-- slimscrollbar scrollbar JavaScript -->
			<script src="../ressourcesAdmin/js/jquery.slimscroll.js"></script>
			<!--Menu sidebar -->
			<script src="../ressourcesAdmin/js/sidebarmenu.js"></script>
			<!--stickey kit -->
			<script
				src="../ressourcesAdmin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
			<!--Custom JavaScript -->
			<script src="../ressourcesAdmin/js/custom.min.js"></script>



		</f:facet>
	</h:head>
	<ui:include src="/templateAdmin/header.xhtml" />

	<body class="fix-header fix-sidebar">
		<!-- Preloader - style you can find in spinners.css -->
		<div class="preloader">
			<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none"
					stroke-width="2" stroke-miterlimit="10" /> </svg>
		</div>
		<!-- Main wrapper  -->
		<div id="main-wrapper">
			<ui:include src="/templateAdmin/sidebarnav.xhtml" />


			<!-- Page wrapper  -->
			<div class="page-wrapper">
				<!-- Bread crumb -->
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-primary">Dashboard</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active">Dashboard</li>
						</ol>
					</div>
				</div>
				<!-- End Bread crumb -->
				<!-- Container fluid  -->
				<div class="container-fluid">
					<!-- Start Page Content -->

						<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-title">
									<h4>Liste des événements</h4>

								</div>
								<h:form>

									<div class="card-body">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>Titre Evenement</th>
														<th>Category</th>
														<th>Numéro de téléphone</th>
														<th>Lieux</th>
														<th>Date</th>
														<th>image</th>
														<th>Action</th>
														
<!-- 														<th>IMAGE</th> -->
													</tr>
												</thead>
												<tbody>
													<ui:repeat var="listT" value="#{eventBean.listEvents}">
														<tr>
															
															<td>#{listT.titreEvent}</td>
															<td><span class="badge badge-primary">#{listT.category.name}</span></td>
															<td>#{listT.telEvent}</td>
															<td>#{listT.lieuxEvent}</td>
															<td>#{listT.dateEvent}</td>
															<td><img src="#{listT.image}" width="50px" height="50px"/></td>
															<td><h:commandButton
																	class="btn btn-warning m-b-10 m-l-5"
																	action="#{eventBean.validateEvent(listT)}"
																	value="Valider"></h:commandButton>
																<h:commandButton class="btn btn-danger m-b-10 m-l-5"
																	action="#{eventBean.deleteEvent(listT)}"
																	value="supprimer"></h:commandButton></td>
														</tr>
													</ui:repeat>
												</tbody>
											</table>
										</div>
									</div>
								</h:form>
							</div>
						</div>
						<!-- /# column -->

						<!-- /# column -->
					</div>




					
				</div>

				<!-- /# row -->

				<!-- End PAge Content -->
			</div>
			<!-- End Container fluid  -->
			<ui:include src="/templateAdmin/footer.xhtml" />
		</div>
		<!-- End Page wrapper  -->

		<!-- End Wrapper -->


	</body>


</ui:composition>