<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
		<f:facet name="first">
			<head>
<meta charset="utf-8" />
<title>Intellixx - Bootstrap 3 flat corporate template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
			</head>

		</f:facet>
		<f:facet name="middle">

			<!-- css -->

			<!--===============================================================================================-->
			<link rel="icon" type="image/png"
				href="../LoginResources/images/icons/favicon.ico" />
			<!--===============================================================================================-->
			
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" />
			<!--===============================================================================================-->


			<!--============================================================================================
			===-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/vendor/css-hamburgers/hamburgers.css" />
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/vendor/animsition/css/animsition.min.css" />
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/vendor/select2/select2.min.css" />
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/vendor/daterangepicker/daterangepicker.css" />
			<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/css/util.css" />
			<link rel="stylesheet" type="text/css"
				href="../LoginResources/css/main.css" />



			<!--===============================================================================================-->
				<link href="../ressources/css/bootstrap.min.css" rel="stylesheet" />
			<link href="../ressources/css/fancybox/jquery.fancybox.css"
				rel="stylesheet" />
			<link href="../ressources/css/jcarousel.css" rel="stylesheet" />
			<link href="../ressources/css/flexslider.css" rel="stylesheet" />
			<link href="../ressources/css/style.css" rel="stylesheet" />

			<!-- Theme skin -->
			<link href="../ressources/skins/default.css" rel="stylesheet" />
			<h:outputStylesheet library="css" name="application.css" />
			<link rel="shortcut icon" type="image/x-con" href="#{request.contextPath}/resources/img/favicon.ico" />
	
			

			
		</f:facet>
		<f:facet name="last">

			<!--===============================================================================================-->
			<script src="../LoginResources/vendor/jquery/jquery-3.2.1.min.js"></script>
			<!--===============================================================================================-->
			<script
				src="../LoginResources/vendor/animsition/js/animsition.min.js"></script>
			<!--===============================================================================================-->
			<script src="../LoginResources/vendor/bootstrap/js/popper.js"></script>
			<script src="../LoginResources/vendor/bootstrap/js/bootstrap.min.js"></script>
			<!--===============================================================================================-->
			<script src="../LoginResources/vendor/select2/select2.min.js"></script>
			<!--===============================================================================================-->
			<script src="../LoginResources/vendor/daterangepicker/moment.min.js"></script>
			<script
				src="../LoginResources/vendor/daterangepicker/daterangepicker.js"></script>
			<!--===============================================================================================-->
			<script src="../LoginResources/vendor/countdowntime/countdowntime.js"></script>
			<!--===============================================================================================-->
			<script src="../LoginResources/js/main.js"></script>
		</f:facet>
	</h:head>
<ui:include src="/template/header.xhtml" />
	<body>

		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

					<span class="login100-form-title p-b-32"> Account Login </span>
					<h:form id="login_form">
						<span class="txt1 p-b-11"> email </span>
						<div class="wrap-input100 validate-input m-b-36">
							<h:inputText class="input100" value="#{loginBean.email}" 
						id="validateEmail" required="true"
							requiredMessage="You need to put email">
							<f:validateRegex pattern=".+\@.+\..+"></f:validateRegex>
							 </h:inputText>
							<span class="focus-input100"></span>
						<h:message for="validateEmail" style="color:red"/>
							<span class="focus-input100"></span>
						</div>

						
						
					
						<div class="container-login100-form-btn">
							<h:commandButton class="login100-form-btn" id="login_submit"
								action="#{loginBean.dosendPassword()}" value="send new password" />
												</div>
						
						
						

					</h:form>
				</div>
			</div>
		</div>
	
	</body>

</ui:composition>