<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
	</h:head>

	<header>
		<div class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><span>I</span>ntelLixx</a>
				</div>
				<div class="navbar-collapse collapse ">
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle "
							data-toggle="dropdown" data-hover="dropdown" data-delay="0"
							data-close-others="false">Intellixx <b
								class=" icon-angle-down"></b></a>
							<ul class="dropdown-menu">
								<li><a href="typography.html">L'unité de recherche</a></li>
								<li><a href="components.html">Intranet d'Intellixx</a></li>
							</ul></li>

						<li class="dropdown"><a href="#" class="dropdown-toggle "
							data-toggle="dropdown" data-hover="dropdown" data-delay="0"
							data-close-others="false"> MY ACCOUNT <b
								class=" icon-angle-down"></b></a>
							<ul class="dropdown-menu">
								<li><a href="../Pages/WatchlistStockOptions.jsf">Watchlist</a></li>
								<li><a href="../Pages/ListStockOption.jsf">Portfolio</a></li>
								<li><a href="../Pages/TimeLineMO.jsf">Activity</a></li>
								<li><a href="../Pages/chartMalek.jsf">Statistics</a></li>


							</ul></li>

						<li class="active"><a href="index.html"> </a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle "
							data-toggle="dropdown" data-hover="dropdown" data-delay="0"
							data-close-others="false">Stock Options<b
								class=" icon-angle-down"></b></a>
							<ul class="dropdown-menu">
								<li><a href="../Pages/AddStockOption.jsf">Add a Stock
										Option</a></li>
								<li><a href="../Pages/ListStockOption.jsf">List of
										Stock Options</a></li>
								<li><a href="../Pages/ListStockOption.jsf">Update Stock
										Option</a></li>
								<li><a href="../Pages/ListStockOption.jsf">Delete Stock
										Option</a></li>

							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle "
							data-toggle="dropdown" data-hover="dropdown" data-delay="0"
							data-close-others="false">Real Time Data<b
								class=" icon-angle-down"></b></a>
							<ul class="dropdown-menu">
								<li><a href="../Pages/RealTimeDataS.jsf">Stocks</a></li>
								<li><a href="../Pages/RealTimeDataF.jsf">Futures</a></li>
								<li><a href="../Pages/HistoricalData.jsf">Historical
										Data</a></li>


							</ul></li>

						<li class="dropdown"><a href="#" class="dropdown-toggle "
							data-toggle="dropdown" data-hover="dropdown" data-delay="0"
							data-close-others="false">Currency Option <b
								class=" icon-angle-down"></b></a>
							<ul class="dropdown-menu">

								<li><a href="../Pages/CurrencyOptionW.jsf">Add currency
										Option</a></li>
								<li><a href="../Pages/ShowCurrencyOptionW.jsf">List of
										Currency Options</a></li>
								<li><a href="../Pages/OwnCurrencyOption.jsf">List of
										your Own Currency Options</a></li>
								<li><a href="../Pages/ArchiveCurrencyOptionW.jsf">Archive
										Currency Options</a></li>
								<!-- <li><a href="../Pages/TradingForex.jsf">Trading Forex Optins </a></li> -->
								<li><a href="../Pages/StatiqtiqueCurrencyOption.jsf">Statistic
										Currency Options</a></li>
								<li><a href="../Pages/linechartxhtml.jsf">Price Per
										Month Of Options</a></li>


							</ul></li>

						<li class="dropdown"><a href="#" class="dropdown-toggle "
							data-toggle="dropdown" data-hover="dropdown" data-delay="0"
							data-close-others="false">Currency Account <b
								class=" icon-angle-down"></b></a>
							<ul class="dropdown-menu">


								<li><a href="../Pages/CurrencyAccountW.jsf">Add
										Currency Account</a></li>
								<li><a href="../Pages/ShowCurrencyAccount.jsf">List of
										Currency Account</a></li>
								<li><a href="../Pages/CurrencyAccountW.jsf">Add
										Currency Account</a></li>
								<li><a href="../Pages/ShowCurrencyAccount.jsf">List of
										Currency Account</a></li>



								<li><a href="../Pages/LineChartAm.jsf">Statistic</a></li>
								<li><a href="../Pages/RealData.jsf">Real Time Data</a></li>



							</ul></li>





						<li><h:outputLink value="Register.jsf"
								rendered="#{userBean.conUser1 == null}">Inscription</h:outputLink></li>
						<li><h:outputLink value="login.jsf"
								rendered="#{userBean.conUser1 == null}">claims</h:outputLink></li>
						<li><h:outputLink value="login.jsf"
								rendered="#{userBean.conUser1 == null}">login</h:outputLink></li>




						<li class="dropdown"><a href="#" class="dropdown-toggle "
							data-toggle="dropdown" data-hover="dropdown" data-delay="0"
							data-close-others="false">Profile <b class=" icon-angle-down"></b></a>

							<ul class="dropdown-menu">
								<li><a href="../Pages/profileTrader.jsf">Profile </a></li>
								<li><a href="../Pages/afficheEvent.jsf">Liste de mes
										événements</a></li>
								<h:form>
									<li><h:commandLink action="#{loginBean.Logout()}"
											value="Déconnexion" /></li>
								</h:form>

							</ul></li>





					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->


</ui:composition>
